<!-- <header class="header">
  <span>MeuOrg</span>
  <div>
    <ul class="nav">
      <li><a routerLink="movies">Filmes</a></li>
      <li><a routerLink="contacts">Contatos</a></li>
      <li><a routerLink="playground">Playground</a></li>
    </ul>
  </div>
</header> -->
<mat-toolbar>
  <div class="header">
    <span (click)="navigateTo('')">MeuOrg</span>
    <div>
      <button mat-button (click)="navigateTo('movies')">Filmes</button>
      <button mat-button (click)="navigateTo('contacts')">Contatos</button>
      <button mat-button [matMenuTriggerFor]="menu">Playground</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateTo('diretivas')">
          Diretivas
        </button>
        <button mat-menu-item (click)="navigateTo('pipes')">Pipes</button>
        <button mat-menu-item (click)="navigateTo('lifecycle')">
          Lifecycle
        </button>
        <button mat-menu-item (click)="navigateTo('observables')">
          Observables
        </button>
        <button mat-menu-item (click)="navigateTo('ngrx-store')">
          NgRx Store
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
