.modal-container {
  width: fit-content;
  max-width: 800px;
  max-height: 80vh;
  padding: 40px;
  overflow-x: auto;

  h1 {
    margin-bottom: 0px;
  }

  .content {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    img {
      height: 300px;
      width: fit-content;
      margin: auto;
    }
  }

  @media screen and (max-width: 700px) {
    .content {
      flex-direction: column;
    }
  }

  .group-info-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .flex-space-between {
    margin-top: 10px;
  }
}
