.modal-container {
  width: 800px;
  padding: 40px;

  h1 {
    margin-bottom: 0px;
  }

  .content {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    img {
      height: 300px;
    }
  }

  .group-info-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .flex-space-between {
    margin-top: 10px;
  }
}
