.box {
  padding: 40px;
  border: 1px black solid;
  border-radius: 10px;
  margin: 20px;
  height: 40px;
  width: 40px;
}

.container {
  display: flex;
}

.estilo1 {
  background-color: wheat;
}

.is-active:hover {
  background-color: purple !important;
}
