.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20px;
  border-bottom: 1px black solid;

  .nav {
    display: flex;
    li {
      margin: 20px;
    }
  }
}

@media (max-width: 450px) {
  .header {
    flex-direction: column;

    .nav {
      // flex-direction: column;
    }
  }
}

main {
  margin: 20px;

  .movies-container {
    margin-inline: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    min-height: 700px;

    .movie {
      justify-self: left;
      width: fit-content;
      img {
        width: 250px;
        height: 375px;
      }

      .title {
        font-weight: bold;
        text-align: center;
      }

      .movie-extra-info {
        display: flex;
        justify-content: space-around;
        height: fit-content;
      }
    }

    .movie-info {
      border: 1px black solid;
      border-top: none;
      padding: 10px 5px 1px 5px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}

.footer {
  border-top: 1px black solid;
  margin-inline: 20px;
  p {
    padding: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
  }
}
