<main>
  <h1>Filmes</h1>
  <div class="movies-container">
    <div class="movie">
      <img
        src="https://m.media-amazon.com/images/M/MV5BYjZmN2E3ZmYtMzNkNy00YTVmLWEwYTYtZGRhYjA5MDk3MDM4XkEyXkFqcGc@._V1_.jpg"
        alt=""
      />
      <div class="movie-info">
        <p class="title">Os Vingadores</p>
        <div class="movie-extra-info">
          <p>Ano: 2012</p>
          <p>Nota: 8/10</p>
        </div>
      </div>
    </div>
    <div class="movie">
      <img
        src="https://m.media-amazon.com/images/M/MV5BYzU5NTFjNjItZGI1My00Y2Q0LTljOGUtMTFmZDNmMjZkZDIyXkEyXkFqcGc@._V1_FMjpg_UY3000_.jpg"
        alt=""
      />
      <div class="movie-info">
        <p class="title">Um Sonho de Liberdade</p>
        <div class="movie-extra-info">
          <p>Ano: 2012</p>
          <p>Nota: 9.5/10</p>
        </div>
      </div>
    </div>
    <div class="movie">
      <img
        src="https://m.media-amazon.com/images/M/MV5BYTRmMjkwYzYtYTRiMi00NDJjLTk1NjctMDA3MjY2ZWIyMGQ5XkEyXkFqcGc@._V1_.jpg"
        alt=""
      />
      <div class="movie-info">
        <p class="title">O Poderoso Chefão</p>
        <div class="movie-extra-info">
          <p>Ano: 1972</p>
          <p>Nota: 9/10</p>
        </div>
      </div>
    </div>
    <div class="movie">
      <img
        src="https://m.media-amazon.com/images/M/MV5BMTRkYjU1MjQtODMxMS00YTNmLThkOTYtZThlMjE4YWZkZDI0XkEyXkFqcGc@._V1_.jpg"
        alt=""
      />
      <div class="movie-info">
        <p class="title">Batman: O Cavaleiro das Trevas</p>
        <div class="movie-extra-info">
          <p>Ano: 2008</p>
          <p>Nota: 9/10</p>
        </div>
      </div>
    </div>
  </div>
</main>
